//////////////////////////////
/// component  positioning ///
//////////////////////////////

@mixin centerFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin betweenFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin fixedCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin centerGrid {
  display: grid;
  justify-items: center;
  align-items: center;
}

@mixin verticalPageMargin {
  margin-top: 15rem;
  margin-bottom: 5rem;
}

//////////////////////////////
/// background positioning ///
//////////////////////////////

@mixin centerBG($url) {
  background-size: cover;
  background-repeat: none;
  background-position: center;
}

@mixin darkCenterBG($url) {
  $bg-opacity: 0.8;
  background: linear-gradient(0deg, rgba($black, $bg-opacity), rgba($black, $bg-opacity)), url($url);
  background-size: cover;
  background-repeat: none;
  background-position: center;
}

@mixin fixedBG {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

//////////////////////////////
////// general styling ///////
//////////////////////////////
@mixin lightShadow {
  box-shadow: 0.5rem 0.5rem 1rem rgba($black, 0.5);
}

@mixin boxShadow {
  box-shadow: 1rem 1rem 5rem rgba($black, 0.5);
}

@mixin boxShadow-thick {
  box-shadow: 1rem 1rem 5rem rgba($black, 0.75);
}

@mixin linkTrans {
  div {
    border-bottom: transparent 1px solid;
    transition: all .2s;

    &:hover,
    &:active {
      color: $near-black;
      border-bottom: $linkBB;
    }
  }
}

@mixin Fade-In($value, $timer) {

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @-moz-keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  $animation-value: $value;
  $animation-timer: $timer;

  & {
    opacity: 0;
    /* make things invisible upon start */
    -webkit-animation: fadeIn ease-in $animation-value;
    /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: fadeIn ease-in $animation-value;
    animation: fadeIn ease-in $animation-value;

    -webkit-animation-fill-mode: forwards;
    /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: $animation-timer;
    -moz-animation-duration: $animation-timer;
    animation-duration: $animation-timer;
  }
}