.home {
  @include centerGrid;
  @include verticalPageMargin;

  &__flex-container {
    @include centerFlex;
    flex-flow: wrap;
  }

  &__photo {
    height: 40rem;

    &:first-child {
      margin-right: 1rem;
    }
  }

  &__info-boxes {
    @include centerFlex;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 1.275rem;
    background-color: $dark-sec;
    $box-size: 20rem;
    height: $box-size;
    width: $box-size;
    color: $white;
    text-align: center;
    transform: translateX(-.5rem);

    transition: all .25s;

    &:hover {
      box-shadow: 0.5rem 0.5rem 1rem rgba($black, 0.5);
    }
  }

  &__box {

    &-1 {
      @include centerBG('../../resources/images/vendor/unsplash/prs.jfif');
    }

    &-2 {
      @include centerBG('../../resources/images/vendor/unsplash/strat.jfif');
    }

    &-3 {
      @include centerBG('../../resources/images/vendor/unsplash/5150.jfif');
    }

    &-4 {
      @include centerBG('../../resources/images/vendor/unsplash/strat-item.jpg');
    }
  }
}