.home {
  @include centerGrid;
  @include verticalPageMargin;

  &__flex-container {
    @include centerFlex;
    flex-flow: wrap;
  }

  &__photo {
    height: 40rem;

    &-lg {
      margin-right: 2rem;
    }

    &-sm {
      width: 27rem;
    }
  }

  &__info-boxes {
    @include centerFlex;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 1.5rem;
    background-color: $dark-sec;
    $box-size: 20rem;
    height: $box-size;
    width: $box-size;
    color: $white;
    text-align: center;
    // transform: translateX(-.5rem);

    transition: all .25s;

    &:hover {
      @include lightShadow;
    }
  }

  &__box {

    &-1 {
      @include darkCenterBG('../../resources/images/vendor/unsplash/prs.jfif');
    }

    &-2 {
      @include darkCenterBG('../../resources/images/vendor/unsplash/strat.jfif');
    }

    &-3 {
      @include darkCenterBG('../../resources/images/vendor/unsplash/5150.jfif');
    }

    &-4 {
      @include darkCenterBG('../../resources/images/vendor/unsplash/strat-item.jpg');
    }
  }
}