@import 'product-comps.scss/description';

$item-selector-size: 7.5rem;

.product {
  @include verticalPageMargin;
  @include centerGrid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;

  .viewer {
    @include centerFlex;

    &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-right: 1rem;
    }

    &__items {
      height: $item-selector-size;
    }
  }

  .main__item {
    img {
      height: 75rem;
    }
  }

  .details {
    @include centerFlex;
    flex-flow: column;
    margin-left: 1rem;

    &__pricing {
      @include centerFlex;
    }

    &__perks {
      @include centerGrid;
      grid-template-columns: 1fr 1fr;
      margin-top: 5rem;

      div {
        @include centerFlex;
        margin: .5rem;
        width: 25rem;
        border: $black .2rem solid;

        img {
          height: 3rem;
          margin-right: 2rem;
        }
      }
    }

    &__add-to-cart {
      margin-top: 5rem;

      button {
        font-size: 2rem;
        font-weight: 700;
        border: transparent .1rem solid;
        background-color: $black;
        color: $white;
        margin-right: 1rem;
        padding: 1rem;
        transition: all .25s;

        &:hover {
          border: $black .1rem solid;
          background-color: $white;
          color: $black;
        }
      }
    }

    &__options {
      @include centerFlex;
      margin-top: 5rem;

      img {
        height: $item-selector-size;
      }
    }
  }
}