.nav__container {
  margin: 2rem 5rem;

}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.nav-bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}